.App {
  text-align: center;
}

.jumbotron {
  background-repeat: no-repeat;
  background-image: url('./background.jpg');
  /* background-position: center; */
  background-size: cover;
  overflow: hidden;

}
/* .jumbotron img {
  max-width: 100%;
  height: auto;
  display: block;
} */

.jp button {
  margin-top: 300px;
}