
@import './main.css';

$mainColor : #f00;

.red {
    color: $mainColor;
}

div.container {
    h4{
        color: blue;
    }
    p{
        color: black;
    }
}

.my-alert {
    background: #eee;
    padding: 15px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

@mixin myAlertFunc() {
    background: #eee;
    padding: 15px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    
}

.my-alert-yellow {
    // @include myAlertFunc();
    @extend .my-alert;
    background: yellow;
    
}

.my-alert p {
    margin-bottom: 0;
    // color: red;
}




